
@import url('../variables.css');
@import url('../animations.css');
@import url('adjustSizes.css');
@import url('tablet.css');
@import url('phoneLandScape.css');
@import url('desktop.css');

/*! GENERAL ADDITIONS SECTION */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 200 !important;
}

body 
{
    transition: var(--transition-time);
    background-color: var(--main-color);
    font-weight: 200;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent any scrollbars */
    box-sizing: border-box;
}

.d-parkingwareLogo
{
    position: absolute;
    bottom: 20px;
    right: 30px;
    text-align: right;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    background: var(--logo-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.6;
    backdrop-filter: blur(4px);
    text-shadow: 0 0 6px rgba(255,255,255,0.1);
    
    animation: blurFadeIn 2s ease-out ;
    transition: var(--transition-time);
}

@keyframes blurFadeIn {
  0%, 20% {
    transform: scale(1);
    filter: blur(10px);
  }
  50%, 70% {
    transform: scale(1.5);
    filter: blur(5px);
  }
  100% {
    transform: scale(1);
    filter: blur(0);
  }
}


.d-shadow
{
    filter: var(--set-shadow);
}

.d-border
{
    border: solid var(--border-size) var(--border-color);
}

.d-border-white
{
    border: solid var(--border-size) var(--main-text-color);
}

.d-fill
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}

.d-center
{
    display: flex;
    justify-content: center;  /* center horizontally */
    align-items: center;  
}

.d-center-abs
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-generalStyle
{
    filter: var(--set-shadow);
    border: solid var(--border-size) var(--second-text-color);
    background-color: var(--input-background);
    color: var(--input-text-color);
    border-radius: var(--radius-amount);
}

.d-generalStyle:hover
{
    border: solid var(--border-size) var(--input-text-color) !important;
}

.d-generalStyle:active {
  transform: scale(0.98);
}

/*! GENERAL COMPONENTS SECTION */

.breakPointIndictor
{
    position: absolute;
    margin: 20px;
    right: 0px;
    top: 0px;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 20px;
    z-index: 100;
}

/*! login page */

.d-backgroundContainer
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.d-sideBackgroundMap 
{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  right: 0px;
  top: 0px;
}

.d-bg-image 
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover; /* Keep aspect ratio, fill box, crop if needed */
  object-position: left center; /* Align image to the right */
  pointer-events: none;
  user-select: none;
}

.grid-back 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
    opacity: 0.1;

    background-image:
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    
    background-size: 40px 40px; 
    background-repeat: repeat;
    background-position: top left;

    animation: pulse 10s ease-in-out infinite;
}

:root {
  --mouse-x: 50vw;
  --mouse-y: 50vh;
}

.grid-overlay {
  position: fixed; /* use fixed for full-page overlay */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  opacity: 0.3;

  background-image:
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: top left;

  /* Radial glow on top of grid */
  mask-image: radial-gradient(circle at var(--mouse-x) var(--mouse-y),
    white 80px, transparent 200px);
  -webkit-mask-image: radial-gradient(circle at var(--mouse-x) var(--mouse-y),
    white 80px, transparent 200px);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  transition: mask-image 0.1s ease;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.2;
  }
}


/*? The moving background lines*/
.shooting-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1; /* above grid, below content */
  overflow: hidden;
}

.star {
  position: absolute;
  left: -400px; /* start off-screen */
  width: 200px;
  height: 1px;
  /* background: linear-gradient(to left, #EF9F27, rgba(255, 255, 255, 0)); */
  background: linear-gradient(to left, var(--star-color), rgba(255, 255, 255, 0));
  opacity: 0.1;
  transition: var(--transition-time);

  /* animation */
  animation: shoot 5s linear infinite;

  /* glow */
  box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.05);
  filter: blur(0.1px);
}

@keyframes shoot {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  40% { opacity: 0.7; }
  60% { 
    opacity: 0.7; 
  }
  100% {
    transform: translateX(140vw) translateY(0);
    opacity: 0;
  }
}

.d-login-wrapper
{
    position: relative;
    min-height: 100vh;
    width: 100%;
    z-index: 2; 
    text-align: center;
}

.d-topSignin
{
    position: relative;
    line-height: 3rem;
    top: 15vh;
    width: 100%;
    text-align: center;
    line-height: 3rem;
}

.d-bottomLoginSettings
{
    position: absolute;
    text-align: right;
  
    width: 30%;
    height: 55px;
    right: 20px;
    top: 2%;
    z-index: 10;
}

.d-loginDarkThemeButton
{
  position: relative;
  top: 0px;
  height: 40px;
  width: 40px;
  border-radius: 15px;
  margin-left: 10px;
  transition: var(--transition-time);
  display: inline-block;

  backdrop-filter: blur(var(--back-blur-amount));

  justify-content: center;
}

.d-iconShowHover
{
  transform: translate(-50%, -50%) scale(0); 
  transition: var(--transition-time);
}

.d-loginDarkThemeButton:hover
{
  transform: scale(1.1);
  background-color: var(--main-text-color);
}

.d-loginDarkThemeButton:hover .d-iconShowHover
{
  transform: scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.d-loginIcon
{
  position: absolute;
  height: 25px;
  width: 25px;
}

.d-languageIcon
{
  position: absolute;
  left: 10px;
  top: 7px;
}

.d-currentLanguage
{
    position: absolute;
    left: 50px;
    top: 4px;
    font-weight: 100;
    font-size: 2rem;
    transition: var(--transition-time);
}

.d-upDownIcon
{
    position: absolute;
    width: 12px;
    height: 8px;
    transform: rotate(180deg);
    right: 15px;
    top:16px;
}

.d-languageDropDown
{
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 50px;
  min-height: 40px;
  max-height: fit-content;
  width: 225px;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(var(--back-blur-amount));
}

.dropdown-content {
  position: relative;
  top: 40px;
  left: 0px;
  max-height: 0px;
  width: 100%;
  transition: var(--transition-time);
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 30px;
}

.d-languageDropDown:hover .dropdown-content {
    max-height: 500px; 
}

.d-languageDropDown:hover .d-upDownIcon
{
    transform: rotate(0deg);
    transform: scale(1.1)
}

.d-languageDropDown:hover .d-currentLanguage
{

}

.d-languageListing
{
    position: relative;
    left: 0px;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    text-align: left;
    transition: var(--transition-time);
}

.languageDot
{
    position: absolute;
    transform: rotate(45deg);
    border: solid var(--border-size) var(--second-text-color);
    width: 10px;
    height: 10px;
    left: 16px;
    top: 11px;
    border-radius: 2px;
    transition: var(--transition-time);
}

.languageDotSelected
{
    background-color: var(--main-text-color);
    border: solid var(--border-size) var(--main-text-color);

    animation: dotPulse 1.5s ease-in-out infinite;
}

@keyframes dotPulse {
    0% {
      transform: scale(1) rotate(45deg);
    }
    50% {
      transform: scale(1.05) rotate(50deg);
    }
    100% {
      transform: scale(1) rotate(45deg);
    }
}

.languageTextSelected
{
    color: var(--main-text-color) !important;
    font-weight: 900 !important;
    animation: textPulse 1.5s ease-in-out infinite;
}

@keyframes textPulse {
   0% {
        text-shadow: 0 0 0px rgba(255, 255, 255, 0);
    }
    50% {
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
    }
    100% {
        text-shadow: 0 0 0px rgba(255, 255, 255, 0);
    }
}

.languageText
{
    position: relative;
    left: 50px;
    top: 3px;
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--second-text-color);
    cursor: pointer; 
    transition: var(--transition-time);
}

.d-languageListing:hover
{
    backdrop-filter: blur(20px);
}

.d-languageListing:hover .languageText
{
    color: var(--main-text-color);
    font-weight: 500;
}

.d-languageListing:hover .languageDot
{
    border: solid var(--border-size) var(--main-text-color);
}


/* ?? login form stuff */

.d-login-form
{
    position: relative;
    top: 23vh;
    left: 15%;
    width: 75%;
    text-align: left;
    /* transform: translate(-50%, -50%); */
}

.d-inputSpacing
{
   margin-bottom: 4vh;
}

.d-inputSpacingTop
{
   margin-top: 5vh;
}


.d-inputLabel
{
    position: relative;
    text-align: left;
    left: 0px;
    color: var(--main-text-color);
    font-size: 1.5rem;
    font-weight: 200;
}

input::placeholder {
  color: var(--placeholder-text-color);
  padding-left: 50px;  
}

input:active {
  transform: scale(0.98);
}

.d-inputWrapper
{
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.d-loginInput
{
    position: relative;
    width: 100% !important;
    height: 50px;
    border-radius: var(--radius-amount);
    background-color: var(--input-background) !important;
    border: solid var(--border-size) var(--border-color) !important;
    font-size: 1.5rem;
    color: var(--input-text-color);

    filter: var(--shadow);
    transition: var(--transition-time);
}

.d-passwordInput
{
    width: 88% !important;
    background-color: var(--input-background) !important;
}

.d-passwordButton
{
    position: relative;
    height: 50px;
    width: 50px;
    background-color: var(--input-background) !important;
    border: solid var(--border-size) var(--border-color) !important;
    border-radius: var(--radius-amount);
    filter: var(--shadow);
    
    margin-left: auto;
}

.d-showPassIcon
{
    height: 15px;
    width: auto;
    pointer-events: none;
    user-select: none;
}

.d-passwordButton:active {
  transform: scale(0.98);
}

.d-loginInput:hover, .d-passwordButton:hover
{
    border: solid var(--border-size) var(--input-text-color) !important;
}

.d-errorInput
{
    border: solid var(--border-size) var(--error-color) !important;
}

.d-error-text
{
   color: var(--error-color) !important;
}


.d-inputIcon
{
  position: absolute;
  height: 20;
  width: auto;

  pointer-events: none;
  user-select: none;

  transition: 0s;
}

.hideOnInput
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 50px;

    transform: scale(1);

    display: flex;
    justify-content: center; 
    align-items: center; 
}

.d-inputWrapper input:not(:placeholder-shown) + .hideOnInput {
  transform: scale(0);
}

/* Auth error */

.d-errorMessage {
    display: flex;
    align-items: center; /* Vertically center everything */
    gap: 0px;              /* Space between icon and text */
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--error-color);
}

.d-errorIcon {
    height: 1.5rem;
    width: auto;
    margin-top: 0.2rem; /* Optional tweak */
}

.d-errorText ul {
    margin: 0;
    padding-left: 0.5rem;
}

.d-errorIcon
{ 
    height: 1.5rem;
    width: auto;
    margin-top: 0.05rem;
}

/* Remember me section */


.d-rememberText
{
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--main-text-color);
    margin-left: 20px;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  gap: 0.5rem;
}

/* The visual checkbox */
.checkmark 
{
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: var(--radius-amount);
  background-color: var(--input-background);

  border: solid var(--border-size) var(--border-color);
  transition: background 0.2s, border 0.2s;
  filter: var(--shadow);
}

.checkmark:active {
  transform: scale(0.98);
}

.custom-checkbox input {
  display: none; /* Hide default checkbox */
}

.checkmark:hover
{
    border: solid var(--border-size) var(--input-text-color);
}

/* When checkbox is checked */
.custom-checkbox input:checked + .checkmark {
  background-color: var(--main-text-color);
  border: solid var(--border-size) var(--main-text-color);
}

/* Optional: checkmark "tick" */
.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: url('/images/my-checkmark.png'); /* Your custom image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
}

.tick-icon {
  display: none;
  height: 15px;
  width: auto;
}

/* Show image only when checked */
.custom-checkbox input:checked + .checkmark .tick-icon {
  display: block;
}

/* login in button */

.d-loginButton
{
  position: relative;
  width: 300px;
  height: 60px;

  font-size: 2rem;
  color: var(--input-text-color);
  transition: var(--transition-time);

  cursor: pointer;

  display: flex;
  justify-content: center; 
  align-items: center; 
}

.d-loginButtonBackground
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    transform: skew(20deg);

    border: solid var(--border-size) var(--border-color);
    background-color: var(--input-background);
    filter: var(--set-shadow);
    border-radius: var(--radius-amount);

    transition: var(--transition-time);
}

.d-loginText
{
  white-space: nowrap;
}

.d-loginButton:active {
  transform: scale(0.98);
}

.d-loginButton:hover .d-loginButtonBackground
{
    border: solid var(--border-size) var(--input-text-color);
    transform: skew(15deg);
}

.d-loginButton:hover 
{
   font-size: 2.1rem;
}

.d-loginButton:hover .d-loginButtonIcon
{
  transform: scale(1.05) translateX(5px);
}

.d-loginButtonIcon
{
  position: absolute;
  height: 25px;
  width: auto;
  left: 40px;

  transition: var(--transition-time);
}

.d-loginLink
{
    position: relative;
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--second-text-color);
    text-decoration: underline;
    text-align: center;

    width: 100%;
    transition: var(--transition-time);
}

.d-loginLink:hover
{
    font-weight: 300;
    color: var(--main-text-color);
}

.d-greetingContainer 
{
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0px;
    top: 0px;
    z-index: 2;
    font-size: 3rem;
    font-weight: 100;
    color: var(--main-text-color);
    
    display: none;
    justify-content: center;  /* center horizontally */
    align-items: center;  
}

.d-greeting
{
    padding-bottom: 50px;
    text-shadow: var(--text-shadow);
    overflow: hidden;
}

.d-statusMessage
{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10vh;
    font-size: 2rem;
    font-weight: 100;
    color: var(--positive-color);
    animation: fadeIn 1s ease-out;
    overflow: hidden;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ?? scroll styling */

.custom-scroll::-webkit-scrollbar {
  width: 8px; /* or height for horizontal scrollbars */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* Hides the track background */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--main-text-color); /* Visible draggable bar */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-text-color);
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--main-text-color) transparent; /* thumb then track */
}