/* Tablet (768px and up) */
@media (min-width: 768px) and (max-width: 1024px) and (min-height: 600px) 
{
    html
    {
        font-size: 16px !important;
    }

    .d-sideBackgroundMap {
        width: 80% !important;
    }

    .d-login-wrapper
    {
        width: 100% !important;
    }

    .breakPointIndictor
    {
        background-color: blue !important;
    }
    
    .d-currentLanguage
    {
        left: 50px;
        font-size: 1.5rem !important;
        top: 0px !important;
    }

    .languageDot
    {
        top: 18px !important;
    }

    .d-greetingContainer 
    {
        display: none !important;
    }

    .d-bottomLoginSettings
    {
        width: 30% !important;
    }

    .d-login-form
    {
        left: 20% !important;
        width: 60% !important;
        top: 300px !important;
    }

    .d-topSignin
    {
        top: 200px !important;
    }
}

