/* Desktop (1024px and up) */
@media (min-width: 1024px) and (min-height: 600px)
{   
    html
    {
        font-size: 12px !important;
    }

    .d-sideBackgroundMap {
        width: 65% !important;
    }

    .d-login-wrapper
    {
        width: 45% !important;
    }

    .breakPointIndictor
    {
        background-color: green !important;
    }

    .d-bottomLoginSettings
    {
        width: 30%;
        height: 55px;
        right: 30px !important;
        top: 5% !important;
    }

    .d-currentLanguage
    {
        left: 50px;
        top: 0px !important;
        font-weight: 100;
        font-size: 1.5rem;
    }

    .languageDot
    {
        top: 12px !important;
    }
}