@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: normal;
}

:root {
  --main-color: #090909;
  --second-color: #161616;
  --border-color: #292929;
  --input-background: #0D0D0D;
  --shadow: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)); 
  --main-text-color: #FFFFFF;
  --second-text-color: #969696;
  --blue-text-color: #1E7EE4;
  --error-color: #E21521;
  --placeholder-text-color: #6A6A6A;
  --input-text-color: #FFFFFF;
  --logo-text-gradient: linear-gradient(to right, #6A6A6A , #D0D0D0);
  --border-size: 1px;
  --border-size-hover: 2px;
  --back-blur-amount: 10px;
  --set-shadow: drop-shadow(5px 5px 4px #000000);
  --set-line-height: 1.5;
  --hide-light: 0;
  --hide-dark: 1;
  --transition-time: 0.3s ease;
  --radius-amount: 10px;

  --grid-color: #2D2D2D;
  --grid-color-hover: rgba(255, 255, 255, 0.1);
  --star-color: #FFFFFF
}

[data-theme="light"] {
  --main-color: #EEF0F4;
  --main-text-color: #090909;
  --second-text-color: #474747;
  --placeholder-text-color: #ECECEC;
  --input-background: #0D0D0D;
  --input-text-color: #ECECEC;
  --hide-light: 1;
  --hide-dark: 0;
  --logo-text-gradient: linear-gradient(to right, #555555 , #787878);

  --grid-color: #727272;
  --grid-color-hover: rgba(0, 0, 0, 0.15);
  --star-color: #000000
} 

html
{
  font-size: 10px;
}

/* COLOR SECTION */

.d-mainColor
{
    background-color: var(--main-color);
}

.d-secondColor
{
    background-color: var(--second-color);
}

.d-mainTextColor
{
    color: var(--main-text-color);
}

.d-secondTextColor
{
    color: var(--second-text-color);
}

.d-blueTextColor
{
    color: var(--blue-text-color);
}

/* !!! FONT SIZES */

.d-s1 
{
  font-size: 4.5rem;  /* REM is the font size of html so 3 * 16px*/
}

.d-s2 
{
  font-size: 4rem; 
}

.d-s3 
{
  font-size: 3.5rem; 
}

.d-s4
{
  font-size: 3rem; 
}

.d-s5
{
  font-size: 2.5rem; 
}

.d-s6
{
  font-size: 2rem; 
}

.d-s7
{
  font-size: 1.5rem; 
}

.d-s8
{
  font-size: 1rem; 
}

/* !!! FONT WEIGHTS */

.d-w1
{
  font-weight: 100 !important;
}

.d-w2
{
  font-weight: 400 !important;
}

.d-w3
{
  font-weight: 600 !important;
}

.d-w4
{
  font-weight: 800 !important;
}