@import url('../variables.css');
@import url('../animations.css');
@import url('tablet.css');
@import url('phoneLandScape.css');
@import url('desktop.css');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 200 !important;
}

body 
{
    transition: var(--transition-time);
    background-color: var(--main-color);
    color: var(--main-text-color);
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
    box-sizing: border-box;
    transition: var(--transition-time);
}

.breakPointIndictor
{
    position: absolute;
    margin: 20px;
    right: 0px;
    top: 0px;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 20px;
    z-index: 100;
}

.d-flexContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: center;
    gap: 1rem;
}

.d-generalStyle
{
    filter: var(--set-shadow);
    border: solid var(--border-size) var(--second-text-color);
    background-color: var(--input-background);
    color: var(--input-text-color);
    border-radius: var(--radius-amount);
}

/* ! --------------- top nav section --------------- */

.d-topNav
{   
    position: relative;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 7vh;
    margin-bottom: 2vh;

    background-color: var(--complete-dark-color);
}

.d-navleftSection
{
    position: relative;
    /* width: 25%; */
    height: 100%;

    display: inline-flex;
    align-items: center;
    padding-right: 2vw; 
}

.d-navLogoImg
{
    position: relative;
    height: 75%;
    aspect-ratio: 1 / 1;
    left: 1vw;
    margin-right: 1vw;
    flex-shrink: 0;

    z-index: 1;

    transition: var(--transition-time);
}

.d-navLogoImg:hover
{
    transform: scale(1.02);
}

.d-navLogoImg:active {
  transform: scale(0.98);
}

.d-headerText
{
    position: relative;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    white-space: nowrap;

    z-index: 1;
}

.d-imgFull
{
    position: absolute;
    height: 100%;
    width: auto;
}

.d-headerTitle
{
    position: relative;
    color: var(--main-text-color);
    font-weight: 100;
    font-size: 2em;
    text-align: left;
    vertical-align: auto;
    margin-right: 0.5vw;
}

.d-headerVersion
{
    position: relative;
    bottom: -1vh;
    font-size: 1em;
    color: var(--second-text-color);
}

.d-headerBackground
{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    z-index: 0;
}

.d-headerleftBackground
{
    position: relative;
    height: 100%;
    width: 70%;
    top: 0px;
    background-color: var(--complete-dark-color);
}   

.d-headerGradient
{
    position: relative;
    height: 100%;
    width: 30%;
    top: 0px;
    margin-left: auto;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    mask-image: linear-gradient(to right, var(--complete-dark-color) 0%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, var(--complete-dark-color) 0%, transparent 100%);
    pointer-events: none;
}


.d-navRightSection
{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    /* background-color: var(--main-color); */
}

.d-profile
{
    position: relative;
    height: 63%;
    width: 9vw;
    min-width: 150px;
    max-width: 200px;
    margin-left: 0.5vw;

    border-radius: var(--radius-round);

    filter: var(--set-shadow);
    border: solid var(--border-size) var(--border-color);
    background-color: var(--main-color);
    color: var(--input-text-color);

    display: flex;
    align-items: center;

    transition: var(--transition-time);
}

.d-profile:hover .d-profileDownIcon
{
    transform: rotate(0deg);
}

.d-profile:hover 
{
    border: solid var(--border-size) var(--input-text-color) !important;
    background-color: var(--second-color);
}

.d-profileImage
{
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    left: 0;

    border-radius: var(--radius-round);
    overflow: hidden;
}

.d-dotContainer
{
    position: absolute;
    height: 100%;
    aspect-ratio: 1 / 1;

    /* background-color: green; */
}   

.d-activityDot
{
    position: absolute;
    height: 12px;
    aspect-ratio: 1 / 1;

    bottom: 0.15vh;
    right: -2px;
    
    z-index: 10;

    border-radius: 100%;
    border-width: 3px;
    /* outline-style: outset; */
    border-color: var(--main-color);
}

.d-userInfo
{
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0;
    line-height: 1.3;

    text-align: left;
    max-width: 50%;

    overflow: hidden;
}

.d-ProfileUsername
{
    color: var(--main-text-color);
    font-size: 1rem;
    font-weight: 300;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.d-userProfileRole
{
    color: var(--second-text-color);
    font-size: 0.9rem;
    font-weight: 100;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.d-profileDownIcon
{
    position: absolute;
    height: 20%;
    width: auto;

    right: 8%;

    transform: rotate(180deg);
}

.d-profileDropDownHitBox
{
    position: absolute;
    top: 100%; 
    width: 100%;
    height: 0;

    transition: var(--transition-time);

    pointer-events: none;
}

.d-profile:hover .d-profileDropDownHitBox
{
    height: auto;
    pointer-events:all;
}

.d-profileDropContent
{
    position: relative;
    margin-top: 5%;
    width: 100%;
    max-height: 0px;
    border-radius: var(--radius-rounder);
    padding: 0.5rem 0%;
    border: solid var(--border-size) var(--border-color);
    opacity: 0;
    transition: var(--transition-time);
    overflow: hidden;
}

.d-dropDownBackground
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--drop-down-color);
    opacity: 0.5;
    backdrop-filter: blur(var(--back-blur-amount));
}

.d-profile:hover .d-profileDropContent
{
    max-height: 300px;
    opacity: 1;
    border-width: var(--border-size); 
}

.d-dropDownButton
{
    position: relative;
    width: 100%;
    height: 30px;
    /* background-color: red; */

    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    text-align: left;

    transition: var(--transition-time);

    opacity: 0;
    transform: translateY(10px);
    animation: none;
    animation-fill-mode: forwards;
}

.d-buttonMargin
{
    margin-bottom: 4%;
}

/* On hover, trigger animation with staggered delays */
.d-profile:hover .d-dropDownButton:nth-child(1) {
  animation: fadeInUp 0.3s ease forwards;
  animation-delay: 0.0s;
}

.d-profile:hover .d-dropDownButton:nth-child(2) {
  animation: fadeInUp 0.3s ease forwards;
  animation-delay: 0.1s;
}

.d-profile:hover .d-dropDownButton:nth-child(3) {
  animation: fadeInUp 0.3s ease forwards;
  animation-delay: 0.2s;
}

.d-profile:hover .d-dropDownButton:nth-child(4) {
  animation: fadeInUp 0.3s ease forwards;
  animation-delay: 0.3s;
}

.d-profile:hover .d-profileDropContent > *:nth-child(5) button {
  animation: fadeInUp 0.4s ease forwards;
  animation-delay: 0.4s;
}

/* Animation definition */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.d-dropDownText
{
    position: relative;
    top: 10%;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--second-text-color);
    display: inline-block;
    pointer-events: none;
    transform: scale(1);
    transition: var(--transition-time);
}

.d-dropDownButton:hover .d-dropDownText
{
    color: var(--main-text-color);
    transform: scale(1.02);
}

.d-dropDownLogOutText
{
    color: var(--error-color);
}

.d-dropDownButton:hover .d-dropDownLogOutText
{
    color: var(--error-color);
    font-weight: 600;
    transform: scale(1.02);
}

.d-iconSectionButton
{
    position: relative;
    width: 40%;
    height: 100%;
  
    display: flex;
    align-content: center;
}

.d-dropDownIcon 
{
  position: absolute;
  height: 60%;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.d-dontShowHover,
.d-showHover 
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  transition: transform var(--transition-time);
}

.d-buttonBackgroundHover
{
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    opacity: 0;
    /* background-color: var(--second-color); */
    background-color: var(--drop-down-hover);
    transition: var(--transition-time);
}

.d-hoverLogOut
{
    background-color: var(--error-color);
}

.d-dropDownButton:hover .d-buttonBackgroundHover
{
    left: 0%;
    opacity: 0.8;
}

.d-dropDownButton:hover .d-hoverLogOut
{
    opacity: 0.2;
}

.d-logOutIcon
{
    position: absolute;
    transition: var(--transition-time);
    transform: translate(-50%, -50%) scale(1);
}

.d-dropDownButton:hover .d-hoverLogOut
{
    opacity: 0.2;
}

.d-dropDownButton:hover .d-logOutIcon
{
    transform: translate(-50%, -50%) scale(1.05);
}

/* Circle top buttons */

.d-circleButton
{
    height: 63%;
    aspect-ratio: 1/1;
    max-width: 10vw;

    background-color: var(--main-color);
    border-radius: var(--radius-round);
    border: solid var(--border-size) var(--border-color);
    margin: 0 0.3vw;
    filter: var(--set-shadow);

    display: flex;

    align-items: center center;

    transition: var(--transition-time);
}

.d-circleButton:active {
  transform: scale(0.98);
}

.d-circleButton:hover
{
    border: solid var(--border-size) var(--input-text-color);
}

.d-circleIcon
{
    position: absolute;
    height: 50%;
    width: auto;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.d-messageDot
{
    position: absolute;
    height: 12px;
    aspect-ratio: 1 / 1;

    bottom: 20%;
    right: 15%;

    border-radius: 100%;
    border-width: 3px;
    border-color: var(--main-color);

    transition: var(--transition-time);
}

.d-circleButton:hover .d-messageDot
{
    height: 0px;
    width: 0px;
}

.d-circleButton:hover .d-dontShowHover 
{
    transform: translate(-50%, -50%) scale(0);
}

.d-circleButton:hover .d-showHover 
{
    transform: translate(-50%, -50%) scale(1.02);
}

/* Default state */
.d-dontShowHover 
{
  transform: translate(-50%, -50%) scale(1);
}
.d-showHover 
{
  transform: translate(-50%, -50%) scale(0);
}

/* Hovered state */
.d-dropDownButton:hover .d-dontShowHover 
{
  transform: translate(-50%, -50%) scale(0);
}

.d-dropDownButton:hover .d-showHover 
{
  transform: translate(-50%, -50%) scale(1.02);
}

/* right top nav section */

.d-slantContainer
{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 1vw;
    right: 0px;
    top: 0%;

    display: flex;
    overflow-y: clip;  
}

.d-headerBackgroundFill
{
    position: absolute;
    height: 100%;
    width: 95%;
    left: 6%;
    background-color: var(--main-color);
}

.d-topBarSlant
{
    position: relative;
    height: 120%;
    width: 20%;
    left: -10%;
    top: 0px;

    transform: skew(-40deg);
    border-radius: var(--radius-rounder);
    background-color: var(--main-color);
}

/* ? searchBar component */

.search-wrapper 
{
    height: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.3vw;
}

.search-container 
{
    position: relative;
    height: 100%;
    width: var(--circle-size); /* Set by JS */
    background-color: var(--main-color);
    border-radius: 100vmax;
    border: solid var(--border-size) var(--border-color);
    filter: var(--set-shadow);

    display: flex;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;

    transition: var(--transition-time);
    opacity: 0; 
}

.search-container.ready {
    opacity: 1;
    transition: var(--transition-time);
}

.search-container input 
{
    all: unset;
    flex: 1 1 auto;       /* This lets input grow but shrink back too */
    white-space: nowrap;
    min-width: 0;         /* VERY important to allow shrinking */

    margin-left: 15%;
    height: 100%;

    color: var(--input-text-color);
    font-size: 1.2rem;
    font-weight: 100;

    opacity: 0;

    pointer-events: none;
    transition: opacity var(--transition-time);
}

.search-container input:focus 
{
    outline: none;
    box-shadow: none;
}

/* Expand on hover or focus or if text is entered */
.search-container:hover,
.search-container:has(input:focus),
.search-container:has(input:not(:placeholder-shown)) 
{
    width: 200px;
    border: solid var(--border-size) var(--input-text-color);
}

.search-container:hover input,
.search-container:has(input:focus) input,
.search-container:has(input:not(:placeholder-shown)) input 
{
    opacity: 1;
    pointer-events: all;
}

.search-container:hover .search-icon,
.search-container:has(input:focus) .search-icon,
.search-container:has(input:not(:placeholder-shown)) .search-icon
{
    left: 10%;
}

.search-container:hover .d-dontShowHover,
.search-container:has(input:focus) .d-dontShowHover,
.search-container:has(input:not(:placeholder-shown)) .d-dontShowHover
{
    transform: scale(0);
    /* left: 10%; */
}

.search-container:hover .d-showHover ,
.search-container:has(input:focus) .d-showHover ,
.search-container:has(input:not(:placeholder-shown)) .d-showHover 
{
    /* left: 10%; */
    transform: translate(-50%, -50%) scale(1.02);
}

.search-icon 
{
    position: absolute;
    left: 50%;
    height: 50%;
    width: auto;

    transition: var(--transition-time);
    
    z-index: 1;
    pointer-events: none;
}

/* ! --------------- side nav section --------------- */


:root 
{
    --topSectionSectionHeight: 40px;
    --sideNavWidth: 4rem;
}

.d-sideNav
{
    position: absolute;
    height: auto;
    width: var(--sideNavWidth);
    /* background-color: var(--second-color); */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    margin-left: 0.5vw;
    transition: var(--transition-time);

    z-index: 1;
}

.d-sideNavTop
{
    position: relative;
    width: 100%;
    height: 50px;

    background-color: var(--second-color); 
    border-radius: var(--radius-rounder);
    filter: var(--set-shadow);
    /* padding-left: 1.5rem; */
    /* padding-right: 1.5rem; */
   
    overflow: hidden;
    display: flex;
}

.d-TopSplit3
{
    position: relative;
    width: 4rem;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-sideNav:hover
{
    width: 12rem;
}

.d-sideNavTopButton
{
    position: relative;
    height: 60%;
    width: auto;
    aspect-ratio: 1 / 1;
    
    background-color: var(--main-color);
    border-radius: var(--radius-round);
    border: solid var(--border-size) var(--border-color);
    filter: var(--set-shadow2);

    transition: var(--transition-time);
}

.d-sideNavTopButton:hover
{
    border: solid var(--border-size) var(--input-text-color);
}

.d-circleButton:active {
  transform: scale(0.98);
}

.d-sideNavSection
{
    position: relative;
    width: 100%;
    min-height: var(--topSectionSectionHeight);
    max-height: var(--topSectionSectionHeight);
    height: auto;

    border-radius: var(--radius-rounder);
    background-color: var(--second-color); 

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

    transition: var(--transition-time)
}

.d-sideNavSection:hover
{
    max-height: 100vh;
}

.d-sideNavSection:hover .d-snFoldIcon
{
    transform: rotate(0deg);
}

.d-topSideNavSection
{
    position: relative;
    width: 100%;
    height: var(--topSectionSectionHeight);
    top: 0px;
    left: 0px;
    
    display: flex;
}

.d-smIconSection
{
    position: relative;
    height: 100%;
    width: var(--sideNavWidth);

    display: flex;
    align-items: center;
    justify-content: center;
}

.d-snFoldIcon
{
    position: absolute;
    width: 1rem;
    height: auto;
    left: auto;
    transform: rotate(180deg);
    transition: var(--transition-time);
}

.d-smFoldTitle 
{
    position: relative;
    left: 20px;
    flex: 1; 
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1.2rem;
}

.d-sideNavLink
{
    position: relative;
    height: 3rem;
    width: 100%;
    background-color: var(--second-color);
    transition: var(--transition-time);
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.d-sideNavLink span
{
    position: relative;
    z-index: 1; /* ensure content appears above */
}

.d-sideNavHoverBackground
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0px;
    z-index: 0; /* Push behind */

    opacity: 0;
    background-color: var(--drop-down-hover);

    transition: var(--transition-time);
}

.d-sideNavLink:hover .d-sideNavHoverBackground
{
    left: 0%;
    opacity: 0.8;
}

.d-sideLinkIconSection
{
    position: relative;
    width: var(--sideNavWidth);
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    /* width: ; */
}

.d-sideLinkIcon
{
    position: absolute;
    height: 60%;
    left: auto;
    width: auto;
}

.d-DontShow
{
    transform: scale(1);
    transition: var(--transition-time);
}

.d-Show
{
    transform: scale(0);
    transition: var(--transition-time);
}

.d-sideNavLink:hover .d-DontShow
{
    transform: scale(0);
}

.d-sideNavLink:hover .d-Show
{
    transform: scale(1);
}


.d-newSectionButton
{
  
    /* the + for new section at the bottom */
}

/* ! --------------- footer section --------------- */

.d-footer
{
    position: relative;
    margin-top: 200px;
    height: 300px;
    width: 100wv;
    bottom: 0px;
    left: 0px;

    background-color: var(--complete-dark-color);
}